{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	<style>
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		/* IE10+ CSS styles go here */
		#header  { display: block !important; }
	}
	</style>
	</head>
{% endblock %}

	<body class="{{ body_class }} font-mont text-sm text-gray-dark antialiased" data-template="base.twig">
		<a href="#main" class="sr-only">Skip to content</a>

		{% block header %}
			
			<header class="bg-blue-darkest text-white"> 
				<div class="container mx-auto py-8 flex flex-wrap lg:flex-no-wrap justify-between items-center border-b border-white">
					<div class="h-24 flex items-center px-4 lg:px-0 max-w-xs w-3/4 lg:w-auto"><a href="/" class="block w-full"><img class="block" src="{{ theme.link }}/static/images/logo.png" alt="Kansas Legislative Division of Post Audit"/></a></div>
					<nav class="font-mont hidden lg:block">
						<ul class="list-reset flex -mx-8 relative tracking-widest">
							{% for item in primaryMenu.items %}
								<li class="relative uppercase group hover:bg-white hover:shadow-lg hover:text-blue-darkest focus-within:shadow-lg focus-within:text-blue-darkest focus-within:bg-white {{ item.classes|join(' ') }}">
									<a href="{{ item.link }}" class="menu-item block px-8 py-4 no-underline tracking-widest group-hover:font-semibold font-semibold" style="letter-spacing: 4px;">{{ item.title }}</a>
									{% if item.children %}
										<ul class="hidden w-full min-w-64 group-hover:block focus-within:block absolute top-full bg-white shadow-lg text-gray-dark whitespace-no-wrap w-auto px-8">
											{% for child in item.children %}
												<li class="normal-case">
													<a href="{{ child.link }}" class="block tracking-tight hover:text-blue-darkest focus:text-blue-darkest hover:bg-gray-light focus:bg-gray-light py-4 pl-8 pr-16 -mx-8">{{ child.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</nav>
					<div class="lg:hidden w-1/4 flex justify-end">
						<button id="menu-toggle" class="text-xs py-1 px-2 flex">
							<svg width="20" height="18" class="w-6" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M0 0h20v2.571H0zM0 7.714h20v2.571H0zM0 15.429h20V18H0z"/></g></svg>
							<span class="sr-only">Menu</span>
						</button>
					</div>
					<nav class="lg:hidden w-full">
						<ul id="mobile-nav" class="hidden px-2">
							{% for item in primaryMenu.items %}
								<li class=" {{ item.classes|join(' ') }}">
									<a href="{{ item.link }}" class="menu-item block font-bold mt-2 p-2 ">{{ item.title }}</a>
									{% if item.children %}
										<ul class="px-8">
											{% for child in item.children %}
												<li class="normal-case">
													<a href="{{ child.link }}" class="block mt-2 p-2 ">{{ child.title }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</nav>
				</div>
			</header>
			{% block below_header %}
			{% endblock %}

		{% endblock %}

		{% block above_content %}
		{% endblock %}

		<main id="main">
			<div class="bg-white">
				<div id="vue-wrapper">
				{% block content %}
					Sorry, no content
				{% endblock %}
				</div> <!-- #vue-wrapper -->
			</div>
		</main>

		{% block below_content %}
		{% endblock %}

		{% block above_footer %}
		{% endblock %}

		{% block footer %}
			<footer id="footer" class="bg-blue-darkest text-white font-mont text-sm bg-left-bottom bg-contain bg-no-repeat px-2 lg:px-0" style="background-image: url('{{ theme.link }}/static/images/footer-logo.png');">
				<div class="container mx-auto flex-wrap flex lg:flex-no-wrap justify-between items-center mb-6 pt-20 lg:pb-12">
					<div>
						<address class="not-italic mb-4">
							800 Southwest Jackson Street<br>
							Suite 1200<br>
							Topeka, KS 66612
						</address>
						<a href="tel:7852963793" class="no-underline text-white">(785) 296-3793</a>
					</div>
					<div class="w-full lg:w-2/5 my-8 lg:my-0">
						<h5 class="text-lg">Stay Up-To-Date</h5>
						<p class="mb-2 text-white">Receive an email every time a new report is published.</p>
						{# <form method="GET" class="relative">
							<label>
								<div class="sr-only">Email Address</div>
								<input type="email" placeholder="your-name@example.com" class="w-full block px-4 py-4 pr-32 text-grey-dark bg-white border rounded-none border-white">
							</label>
							<button class="absolute right-0 inset-y-0 flex items-center mr-2">
								<span class="button">Notify Me</span>
							</button>
						</form> #}
						<div class="relative">
							{{ function('gravity_form', 1, false, false, false, '', false)}}
						</div>
					</div>
					<div class="flex lg:-mx-3">
						<a href='https://www.linkedin.com/company/kansas-legislative-division-of-post-audit/' class="w-12 h-12 mx-3 rounded-full bg-white flex items-center justify-center">
							<img src="{{ theme.link }}/static/images/linkedin.svg" />
						</a>
						<a href='https://open.spotify.com/show/1crKrr9O3AD9Zx4ea3szGw' class="w-12 h-12 mx-3 rounded-full bg-white flex items-center justify-center">
							<img src="{{ theme.link }}/static/images/spotify.svg" />
						</a>
						<a href='https://podcasts.apple.com/us/podcast/the-rundown-with-kansas-legislative-division-of-post-audit/id1472599161' class="w-12 h-12 mx-3 rounded-full bg-white flex items-center justify-center">
							<img src="{{ theme.link }}/static/images/itunes.svg" />
						</a>
						<a href='https://www.twitter.com/ksaudit' class="w-12 h-12 mx-3 rounded-full bg-white flex items-center justify-center">
							<img src="{{ theme.link }}/static/images/twitter.svg" />
						</a>
					</div>
				</div>
				<div class="container mx-auto border-t border-white py-4 pb-8 lg:flex flex-wrap justify-between items-center">
					<div>&copy; Kansas Legislative Division of Post Audit.<br>
						All Rights Reserved.</div>
					<div class="my-6 lg:my-0">
						<ul class="lg:flex list-reset lg:-mx-4">
							{% for item in footerMenu.items %}
								<li class="md:mx-4 my-2 md:my-2"><a href="{{ item.link }}">{{ item.title }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<a href="https://weare502.com" rel="nofollow" target="_blank">Design &amp; Development by <img src="{{ theme.link }}/static/images/502-logo.png" class="inline-block"/></a>
					</div>
				</div>
			</footer>
		{% endblock %}
			
		<div id="kslpa-fullscreen" class="magnific mfp-hide">
			{% block fullscreen_popup %}
			{% endblock %}
		</div>
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83196829-15"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-83196829-15');
		</script>
		<!-- Hotjar Tracking Code for http://www.kslpa.org/ -->
		<script>
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1377816,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
	</body>
</html>
