{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl  max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="wysiwyg-content max-w-5xl mx-auto mb-24 px-4 lg:px-0">
    {{ post.content }}
</div>

<div class="bg-lightblue py-12 px-4 lg:px-0" id="current-openings">
    <div class="container mx-auto wysiwyg-content">
        <h2>Current Openings</h2>
        <p>Ready to put your critical thinking skills to work? Join our team.</p>
        
        <div class="mt-8 md:-mx-6 flex flex-wrap">
            {% for opening in post.get_field('current_openings') %}
                <div class="w-1/3 py-4 px-6 mt-4 min-w-64 flex flex-col">
                    <div>Application Deadline: {{ opening.application_deadline }}</div>
                    <div class="font-bold font-mont text-2xl text-blue-darkest mt-2 leading-tight flex-1 flex-shrink-1 flex-auto">{{ opening.position_name }}</div>

                    <a href="{{ opening.application_link.url }}" class="button mt-4 md:mt-8 self-start">Apply Now</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}