{% extends "base.twig" %}

{% block content %}
<div class="bg-blue-darkest mb-20 px-4 lg:px-0">
    <div class="container mx-auto py-6 flex justify-between">
        <h1 class="font-display font-bold text-white text-4xl md:text-6xl max-w-3xl">{{ post.title }}</h1>
    </div>
</div>

<div class="wysiwyg-content max-w-3xl mx-auto mb-24 px-4 lg:px-0">
    {{ post.content }}
</div>
{% endblock %}