{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src|resize(400, 400)}}" class="featured-image" alt="{{ post.thumbnail.alt }}" />
	{% endif %}
		<div class="tease-post__content">
			<h2><a href="{{post.link}}">{{post.title}}</a></h2>
			<p>{{post.get_preview(25)}}</p>
			{# <time>{{ post.date }}</time> #}
		</div>
{% endblock %}