#tinymce.wp-editor {
	padding: 1em !important;
	max-width: $desktop;
	margin: 0 auto;

	img.aligncenter {
		max-width: none;
		margin: 4rem 0;

		@include mq($tablet){
			width: calc(100% + 12rem);
			margin: 4rem -6rem;
		}
	}

	img.alignright {
		margin: 2rem;
		@include mq($tablet){
			margin: 2rem -25% 2rem 4rem;
		}
	}

	hr {
		width: 75%;
		margin: 4rem auto;
	}

	blockquote {
		font-size: 3rem;
		line-height: 1;
		text-align: center;
		margin: 4rem 0;
	}
}